//Colors
$white: #fff;
$isabeline: #eeeded;
$spanish-gray: #989797;
$coral: #EACB31;
$flame: #e4572e;
$blue-de-france: #3c91e6;
$black: #000;

//Typographies
$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

//Font sizes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;


