.header-content {

	&__left {
		padding: 0;
		position: relative;
	}

	&__image {
		width: 100%;
	}

	&__box {
		width: 50%;
		background-color: $white;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px 20px;
		box-sizing: border-box;
	}

	&__box-text {
		font-size: 16px;
		box-sizing: border-box;
		margin-left: 15px;

		&--medium {
			width: 35%;
		}

		&--small {
			width: 20%;
		}

		&--big {
			width: 45%;
		}
	}

	&__box-value {
		display: block;
		font-size: $xx-large;
	}

	&__right {
		position: relative;
		display: flex;	
		justify-content: center;
	}

	&__title {
		font-size: $xxx-large;
	}

	&__subtitle {
		font-size: $large;
	}

	&__arrow-box {
		width: 144px;
		height: 144px;
		background-color: $flame;
		position: absolute;
		bottom: 25px;
		left: -20px;
		box-shadow: 20px 25px $coral;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}